<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>playtask</title>
<style type="text/css">
<!--
.STYLE1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #0099FF;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.STYLE4 {color: #00CC00}
.STYLE5 {color: #FF0000}
-->
</style>
</head>

<body>
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">{{ current_user.user_name }} 当前分数: {{ current_user.score }}</p>
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">任务列表</p>
<form id="task_id" name="task_id" method="post" action="/playtask/task_complete">
    <p>
    {% for task in latest_task_list %}
        <input type="radio" name="task_id" value={{ task.pk }} />{{ task.pk }}.{{ task.title }} <span class="STYLE4">+{{task.score }}</span><br />
    {% endfor %}
    </p>
    <p><br />
    <input type="submit" value="完成任务" />
    </p>
</form>
<!--

-->
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">欲望列表</p>
<form id="appetite_id" name="appetite_id" method="post" action="/playtask/appetite_complete">
    <p>
    {% for appetite in appetite_list %}
        <input type="radio" name="appetite_id" value={{ appetite.pk }} />{{ appetite.pk }}.{{ appetite.title }} <span class="STYLE5">{{appetite.score }}</span><br />
    {% endfor %}
    </p>
    <p><br />
    <input type="submit" value="完成任务" />
    </p>
</form>

<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">任务管理</p>
<form id="task_add" name="task_add" action="/playtask/task_add" method="post">
	<p>
	  <input name="task_title" type="text" placeholder="任务title"/>
	  <input name="task_score" type="text" placeholder="任务score"/>
	  <input name="task_type" type="text" placeholder="任务type 默认为0"/>
  </p>
    <p><input type="submit" value="添加任务" /></p>
</form>
<form name="task_edit" action="/playtask/task_edit" method="post">
	<p>
      <input name="task_id" type="text" placeholder="任务id"/>
	  <input name="task_title" type="text" placeholder="任务title"/>
	  <input name="task_score" type="text" placeholder="任务score"/>
	  <input name="task_type" type="text" placeholder="任务type"/>
	  <input name="task_status" type="text" placeholder="任务status"/>
    </p>
	<p><input type="submit" value="修改任务" /></p>
</form>
<form name="task_delete" action="/playtask/task_invalid" method="post">
	<p>
	  <input name="task_id" type="text" placeholder="任务id"/>
    </p>
	<p><input type="submit" value="删除任务" /></p>
</form>
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">欲望管理</p>
<form name="appetite_add" action="/playtask/appetite_add" method="post">
	<p>
	  <input name="appetite_title" type="text" placeholder="欲望title"/>
	  <input name="appetite_score" type="text" placeholder="欲望score"/>
    </p>
	<p><input type="submit" value="添加欲望" /></p>
</form>
<form name="appetite_edit" action="/playtask/appetite_edit" method="post">
	<p>
      <input name="appetite_id" type="text" placeholder="欲望id"/>
	  <input name="appetite_title" type="text" placeholder="欲望title"/>
	  <input name="appetite_score" type="text" placeholder="欲望score"/>
	  <input name="appetite_status" type="text" placeholder="欲望status" />
    </p>
	<p><input type="submit" value="修改欲望" /></p>
</form>
<form name="appetite_invalid" action="/playtask/appetite_invalid" method="post">
	<p>
	  <input name="appetite_id" type="text" value="" placeholder="欲望id"/>
    </p>
	<p><input type="submit" value="删除欲望" /></p>
</form>
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">已完成任务</p>
<table width="300" border="0">
  {% for record in taskcomplate_list %}
  <tr>
    <td nowrap="nowrap"><div align="left">{{ record.task_title }}</div></td>
    <td nowrap="nowrap"><div align="center" class="STYLE4">
      <div align="left">+{{ record.score }}</div>
    </div></td>
    <td nowrap="nowrap"><div align="left">{{ record.complete_time }}</div></td>
  </tr>
  {% endfor %}
</table>
<!--
-->
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">已实现欲望</p>
<table width="300" border="0">
    {% for record in appetitecompleted_list %}
      <tr>
        <td nowrap="nowrap"><div align="left">{{ record.appetite_title }}</div></td>
        <td nowrap="nowrap"><div align="center" class="STYLE5">
          <div align="left">{{ record.score }}</div>
        </div></td>
        <td nowrap="nowrap"><div align="left">{{ record.complete_time }}</div></td>
      </tr>
    {% endfor %}
</table>
<!--
<table width="300" border="0">
  <tr>
    <td nowrap="nowrap"><div align="left">欲望1</div></td>
    <td nowrap="nowrap"><div align="center" class="STYLE4">
      <div align="left" class="STYLE5">-60</div>
    </div></td>
    <td nowrap="nowrap"><div align="left">2015-10-09</div></td>
  </tr>
  <tr>
    <td nowrap="nowrap">欲望2</td>
    <td nowrap="nowrap"><div align="center" class="STYLE4">
      <div align="left" class="STYLE5">-1000</div>
    </div></td>
    <td nowrap="nowrap"><div align="left">2015-10-09</div></td>
  </tr>
  <tr>
    <td nowrap="nowrap"><div align="left">欲望3</div></td>
    <td nowrap="nowrap"><div align="center" class="STYLE4">
      <div align="left" class="STYLE5">-100</div>
    </div></td>
    <td nowrap="nowrap"><div align="left">2015-10-09</div></td>
  </tr>
</table>
-->
<p>&nbsp;</p>
</body>
</html>
