<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>playtask</title>
<style type="text/css">
<!--
.STYLE1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #0099FF;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.STYLE4 {color: #00CC00; }
.STYLE5 {color: #FF0000}
-->
</style>
</head>

<body>
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">当前分数: 100  </p>
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">任务列表</p>
<form id="task" name="task" method="get" action="">
  <p>
    <input type="radio" name="task" value="task1" />
    Ɏϱ1<br />
    <input type="radio" name="task" value="task2" />
    Ɏϱ2<br />
    <input type="radio" name="task" value="task3" />
  Ɏϱ3</p>
    <p><br />
    <input type="submit" value="ΪԉɎϱ" />
    </p>
</form>

<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">欲望列表</p>
<form id="appetite" name="appetite" method="get" action="">
  <p>
    <input type="radio" name="appetite" value="appetite1" />
    Իλ1<br />
    <input type="radio" name="appetite" value="appetite2" />
    Իλ2<br />
    <input type="radio" name="appetite" value="appetite3" />
    Իλ3</p>
    <p><br />
    <input type="submit" value="ʵЖԻλ" />
    </p>
</form>
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">任务管理</p>
<form name="task_add" action="" method="get">
	<p>
	  <input name="task_title" type="text" value="Ɏϱtitle" />
	  <input name="task_score" type="text" value="Ɏϱscore(˽ؖ)" />
	  <input name="task_type" type="text" value="Ɏϱtype(˽ؖ)" />
  </p>
    <p><input type="submit" value="ͭݓɎϱ" /></p>
</form>
<form name="task_edit" action="" method="get">
	<p>
	  <input name="task_title" type="text" value="Ɏϱtitle" />
	  <input name="task_score" type="text" value="Ɏϱscore(˽ؖ)" />
	  <input name="task_type" type="text" value="Ɏϱtype(˽ؖ)" />
	  <input name="task_status" type="text" value="Ɏϱstatus(˽ؖ)" />
  </p>
	<p><input type="submit" value="ўلɎϱ" /></p>
</form>
<form name="task_delete" action="" method="get">
	<p>
	  <input name="task_id" type="text" value="Ɏϱid" />
  </p>
	<p><input type="submit" value="ɾԽɎϱ" /></p>
</form>
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">欲望管理</p>
<form name="appetite_add" action="" method="get">
	<p>
	  <input name="appetite_title" type="text" value="Իλtitle" />
	  <input name="appetite_score" type="text" value="Իλscore(˽ؖ)" />
    </p>
	<p><input type="submit" value="ͭݓԻλ" /></p>
</form>
<form name="appetite_edit" action="" method="get">
	<p>
	  <input name="appetite_title" type="text" value="Իλtitle" />
	  <input name="appetite_score" type="text" value="Իλscore(˽ؖ)" />
	  <input name="appetite_status" type="text" value="Իλstatus(bool)" />
    </p>
	<p><input type="submit" value="ўلԻλ" /></p>
</form>
<form name="appetite_delete" action="" method="get">
	<p>
	  <input name="appetite_id" type="text" value="Իλid" />
    </p>
	<p><input type="submit" value="ɾԽԻλ" /></p>
</form>
<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">已完成任务</p>
<table width="300" border="0">
  <tr>
    <td nowrap="nowrap"><div align="left">ѧϰӢԯ50</div></td>
    <td nowrap="nowrap"><div align="center" class="STYLE4">
      <div align="left">+50</div>
    </div></td>
    <td nowrap="nowrap"><div align="left">2015-10-09</div></td>
  </tr>
  <tr>
    <td nowrap="nowrap"><div align="left">ߪעθվ</div></td>
    <td nowrap="nowrap"><div align="center" class="STYLE4">
      <div align="left">+1000</div>
    </div></td>
    <td nowrap="nowrap"><div align="left">2015-10-09</div></td>
  </tr>
  <tr>
    <td nowrap="nowrap"><div align="left">˯ߵ</div></td>
    <td nowrap="nowrap"><div align="center" class="STYLE4">
      <div align="left">+100</div>
    </div></td>
    <td nowrap="nowrap"><div align="left">2015-10-09</div></td>
  </tr>
</table>

<p class="STYLE1"><img src="/static/Page_1_files/u2_normal.png" width="1251" height="12" /></p>
<p class="STYLE1">已实现欲望</p>
<table width="300" border="0">
  <tr>
    <td nowrap="nowrap"><div align="left">ΦԎϷ1Сʱ</div></td>
    <td nowrap="nowrap"><div align="center" class="STYLE4">
      <div align="left" class="STYLE5">-60</div>
    </div></td>
    <td nowrap="nowrap"><div align="left">2015-10-09</div></td>
  </tr>
  <tr>
    <td nowrap="nowrap">ÃԎ</td>
    <td nowrap="nowrap"><div align="center" class="STYLE4">
      <div align="left" class="STYLE5">-1000</div>
    </div></td>
    <td nowrap="nowrap"><div align="left">2015-10-09</div></td>
  </tr>
  <tr>
    <td nowrap="nowrap"><div align="left">έ˯</div></td>
    <td nowrap="nowrap"><div align="center" class="STYLE4">
      <div align="left" class="STYLE5">-100</div>
    </div></td>
    <td nowrap="nowrap"><div align="left">2015-10-09</div></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
